@model List<WorkerCategoryDuty>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Görevler Tablosu</h1>

<h3>Filtre Uygula</h3>
<form method="get" action="/Home/Index">
    <div class="row">
        <div class="col-md-4">
            <label>Kategori Seç:</label>
            <select class="form-select" name="categoryId">
                <option value="">Tümü</option>
                @foreach (var category in ViewBag.Categories)
                {
                    <option value="@category.Id">@category.CategoryName</option>
                }
            </select>
        </div>
        <div class="col-md-4">
            <label>Çalışan Seç:</label>
            <select class="form-select" name="workerId">
                <option value="">Tümü</option>
                @foreach (var worker in ViewBag.Workers)
                {
                    <option value="@worker.Id">@worker.Name @worker.Surname</option>
                }
            </select>
        </div>
        <div class="col-md-4 d-flex align-items-end">
            <button type="submit" class="btn btn-primary">Filtrele</button>
        </div>
    </div>
</form>



<table class="table table-striped">
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Category</th>
            <th>DutyTitle</th>
            <th>DutyDescription</th>
            <th>DeliveryDate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.Worker.Name</td>
                <td>@task.Worker.Surname</td>
                <td>@task.Worker.Email</td>
                <td>@task.Category.CategoryName</td>
                <td>@task.Duty.DutyTitle</td>
                <td>@task.Duty.DutyDescription</td>
                <td>@task.Duty.DeliveryDate.ToString("dd/MM/yyyy")</td>
            </tr>
        }

    </tbody>
</table>